* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none; 
}


:root {
  --menuFontsize: 2.1rem;
  --logoFontsize: 3rem;
  --backgroundColor: #ffffff;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: var(--backgroundColor);
}

body {
  height: 100%;
}


.loadingOverlay {
  position: fixed;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
  user-select: none;
  overflow: hidden;
}

.loadingAnimationBox {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loadingSquare {
  opacity: 0;
  width: 10px;
  height: 10px;
  background-color: #dfdfdf;
}

.loadGrid {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
  pointer-events: none;
}

.load_row{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(24, 24, 24);
}

.navbar {
    mix-blend-mode: difference;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1em  1em; 
    font-size: var(--menuFontsize);
    z-index: 5;
}



.device_menu_toggle_on{
  display: none;
  width: 28px;
  height: 28px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.device_menu_toggle_off{
  display: none;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.device_menu_toggle_off span:nth-child(1){
  background-color: #dfdfdf;
  position: absolute;
  height: 4px;
  width: 90%;
  transform: rotate(45grad);
}

.device_menu_toggle_off span:nth-child(2){
  background-color: #dfdfdf;
  position: absolute;
  transform: rotate(-45grad);
  height: 4px;
  width: 90%;
}



.device_menu_toggle_on span{
  background-color: #dfdfdf;
  height: 4px;
  width: 100%;
}


.device_menu{
  position: fixed;
  display: none;
  z-index: 4;
  height: 260px;
  width: 100%;
  background-color: #ffffff; 
  transition: .2s;
}


.device_menu.displayed{
  display: block;
  transition: .2s;
}

.sub_menu{
  z-index: 4;
  position: relative;
  top: 48px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

.sub_menu a {
  text-decoration: none;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #757575;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
}


.device_menu_index {
  width: 100%;
  z-index: 5;
  position: relative;
  top: 68px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.device_menu_index a {
  text-decoration: none;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #757575;
  user-select: none;
  text-decoration: none;
  opacity: 0;
  transition: .1s;
}


.device_menu_index a.active {
  text-decoration: none;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #757575;
  user-select: none;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;

}

/* Index navbar animation */

.navbar a {
  color: #dfdfdf;
  mix-blend-mode: difference;
  text-decoration: none;
  position: relative;
  /* animation-name: toBottom;
  animation-duration: 1.2s;
  animation-fill-mode: forwards; 
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay);   */
  user-select: none;
}


@keyframes toBottom {
  from {
    top: -40px;
  }
  to {
    top: 0px; 
  }
}

.logo {
  overflow: hidden;
  font-size: var(--logoFontsize);
  font-family: "owners-xwide", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
  display: flex;
}

.logo a{
  position: relative;
  top: 0px;
}

.menu {
  display: flex;
  overflow: hidden;
  align-items: center;
  font-family: "owners-xwide", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.menu a {
  position: relative;
}

.menu a:not(:first-child) {
  margin-left: 2em;
}

.menu a:hover .line{
  width: 100%;
}

.line {
  position: absolute;
  border-radius: 4rem;
  background-color: #dfdfdf;  
  height: 4px;
  width: 0%;
  bottom: 2px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}


/* custom cursor */

.cursor {
  z-index: 1001;
  /* animation-name: cursor_fadeIn;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay); */


  position: fixed;
  top: -100vh;
  height: 1rem;
  width: 1rem;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 0%;
  /* transition: width 0.5s, height 0.5s;
  transition: background-color 0.5s; */
  mix-blend-mode: difference;
}

.cursor.overImg {
  display: none;
  animation-name: cursor_overImg;
  animation-duration: .2s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay);
  background-color: #dd3b0a;
  border-radius: 50%;
    height: 4rem;
    width: 4rem;
    mix-blend-mode: normal;
}

.next_icon {
  display: none;
  animation-name: cursor_apear;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay);
  position: absolute;
  transform: translate(35%, 55%);
  height: auto;
  width: 40px;
}

.view_icon {
  display: none;
  animation-name: cursor_apear;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay);
  position: absolute;
  transform: translate(40%, 60%);
  height: auto;
  width: 33px;
}


@keyframes cursor_overImg {
  from {
    border-radius: 0%;
    height: .9rem;
    width: .9rem;
  }
  to {
    display: block;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  } 
}

@keyframes cursor_apear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  } 
}

.cursor.change {
  background-color: #dd3b0a;
  mix-blend-mode: normal;
}

/* @keyframes cursor_fadeIn {
  from {
    display: none;
    border-radius: 50%;

  }
  to {
    display: block;
    border-radius: 5%;
  } 
} */


.grid_layout{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  padding: 5rem 2rem;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem ;
}

.grid_layout .item {
  margin-bottom: 2rem;
}

.item-1 {
  grid-area: 1 / 1 / 1 / 7;
}

.item-2 {
  grid-area: 1 / 7 / 1 / 13;
}


.item-3 {
  grid-area: 2 / 1 / 2 / 5;
  align-self: center;
}


.item-4 {
  grid-area: 2 / 5 / 2 / 9;
}

.item-5 {
  grid-area: 2 / 9 / 2 / 13;
  align-self: center;
}

.item-6 {
  grid-area: 3 / 1 / 3 / 5;  
  align-self: center;
}


.item-7 {
  grid-area: 3 / 5 / 3 / 9;
}

.item-8 {
  grid-area: 3 / 9 / 3 / 13;
  align-self: center;
}


.item-9 {
  grid-area: 4 / 1 / 4 / 5;
  align-self: center;
}

.item-10 {
  grid-area: 4 / 5 / 4 / 9;
}


.item-11 {
  grid-area: 4 / 9 / 4 / 13;
  align-self: center;
}


.item-12 {
  grid-area: 5 / 1 / 5 / 5;
  align-self: center;
}

.item-13 {
  grid-area: 5 / 5 / 5 / 9;
}


.item-14 {
  grid-area: 5 / 9 / 5 / 13;
  align-self: center;
}



.grid_layout img{
  width: 100%;
  height: auto;
}

.zoom_container {
  animation-name: panel_entry;
  animation-duration: .5s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -20;
  opacity: 1;
  height: 100vh;
}

@keyframes panel_entry {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1.0);
  } 
}

.zoom_container.active{
  display: block;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 900;
  opacity: 1;
  height: 100vh;
  background-color: #ffffffee;
}

.zoom_container p{
  position: absolute;
  top: 35px;
  right: 55px;
  font-family: "input-mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #e7e7e7;
  font-size: 1.4rem;
  mix-blend-mode: difference;
  user-select: none;
}



.zoomedImg_container {
  height: 100%;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomedImg_container img {
  height: 100%;
  width: auto;
  object-fit: cover;
  user-select: none;
}



#album_background {
  position: absolute;
  height: 4300px;
  width: 100%;
}

#poster_background {
  position: absolute;
  height: 3000px;
  width: 100%;
}

#illustration_background {
  position: absolute;
  height: 2100px;
  width: 100%;
}

#poster_img_container {
  overflow: hidden;
  height: 65vh;
  /* animation-name: imgFadeIn;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay); */
}

.gallery {
  position: fixed;
  height:  97vh;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 5rem 0;
}

.gallery .img_description {
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.gallery p{
  font-family: "input-mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #4b4b4b;
  font-size: .9rem;
  padding-top: 12px;
}

.gallery .item {
  margin-left: 2rem;
}

.gallery .item .img_container{
  overflow: hidden;
  height: 65vh;
  max-height: 650px;
  /* animation-name: imgFadeIn;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay); */
  opacity: 1;
  user-select: none;
}

.gallery .img_container img{
  object-fit: cover;
  height: 100%;
  width: auto;
  user-select: none;
}


#photography_background {
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


#photography_gallery {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photography_img_container {
  height: 75vh;
  width: auto;
  min-height: 100px;
  display: flex;
  justify-content: center;
  /* animation-name: imgFadeIn;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(.3, 0, 0, 1);
  animation-delay: var(--delay); */
}

.click_next {
  width: 1100px;
  height: 100%;
  z-index: 3;
  position: absolute;
}

#img_displayed{
  object-fit: cover;
  width: 100%;
  height: auto;
  user-select: none;
}


/* #arrow_left {
  position: absolute;
  left: 15%;
  transform: translateY(-100%);
  padding: 12px 18px;
  font-size: 1.5rem;
  user-select: none;
}
#arrow_right {
  position: absolute;
  right: 15%;
  transform: translateY(-100%);
  padding: 12px 18px;
  font-size: 1.5rem;
  user-select: none;
} */



/* Index section */

.index {
  width: 100%;
  height: 100%;
  min-height: 650px;
  overflow: hidden;
  position: absolute;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  flex-direction: column;
}

.index .container {
  position: relative;
  opacity: 0;
}

.index a{
  width: 100%;
  padding: 15px 8px;
  opacity: 1;
}

.index .container:nth-child(1) .img_hover{
  position: absolute;
  top: -150px;
  left: 300px;
  display: none;
}
.index .container:nth-child(2) .img_hover{
  position: absolute;
  top: -150px;
  left: -600px;
  z-index: -1;
  display: none;
}

.index .container:nth-child(3) .img_hover{
  position: absolute;
  top: -70px;
  left: 200%;
  display: none;
}

.index .container:nth-child(4) .img_hover{
  position: absolute;
  top: -300px;
  left: -650px;
  display: none;
}
.index .container:nth-child(5) .img_hover{
  position: absolute;
  top: -450px;
  left: 500px;
  display: none;
}
.index .container:nth-child(6) .img_hover{
  position: absolute;
  top: -400px;
  left: -800px;
  display: none;
}
.index .container:nth-child(7) .img_hover{
  position: absolute;
  top: -300px;
  left: -600px;
  display: none;
}

.index .container:hover > .img_hover{
  z-index: 0;
  display: block;
  pointer-events: none;
  user-select: none;
}

.index .container:nth-child(1) .img_hover img{
  z-index: -1;
  height: 35vw;
  max-height: 500px;
  width: auto;
}

.index .container:nth-child(2) .img_hover img{
  z-index: -1;
  height: 35vw;
  max-height: 600px;
  min-height: 330px;
  width: auto;
}

.index .container:nth-child(3) .img_hover img{
  z-index: -1;
  height: 500px;
  width: auto;
}

.index .container:nth-child(4) .img_hover img{
  z-index: -1;
  height: 600px;
  width: auto;
}

.index .container:nth-child(5) .img_hover img{
  z-index: -1;
  height: 600px;
  width: auto;
}

.index .container:nth-child(6) .img_hover img{
  z-index: -1;
  height: 600px;
  width: auto;
}

.index .container:nth-child(7) .img_hover img{
  z-index: -1;
  height: 600px;
  width: auto;
}



.index a {
  text-decoration: none;
  color: #000000;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  transition: all .2s ease-in;
}


/* about section */

.about {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: absolute;
  padding: 0 2rem;
  gap: 80px;
  width: 100%;
  transition: all .1s linear;
  padding-top: 150px;
  /* background-color: #dd3b0a; */
}

.about .img_container {
  position: relative;
  height: 40vw;
  min-height: 450px;
  max-height: 600px;
}

.about .img_container img {
  user-select: none;
  pointer-events: none;
  height: 100%;
}

.about .description {
  text-transform: uppercase;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: .9rem;
  /* background-color: aqua; */
}

.about .description p{
  opacity: 0;
  font-family: "input-mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #4b4b4b;
  line-height: 26px;
}

.note {
  font-family: "input-mono", monospace;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  color: #4b4b4b;
  line-height: 26px;
  font-size: .9rem;
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
}

.about .description a{
  font-family: "input-mono", monospace;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #424242;
  transition: all .17s ease-in;
}
.about .description a:hover{
  text-decoration: none;
  color: #dd3b0a;
}

/*canvas*/

canvas{
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

canvas.active{
  opacity: 1;
}



/*Footer*/


.footer.landing {
  background-color: var(--backgroundColor);
  opacity: 1;
}

.footer.landing a{
  opacity: 1;
}

.footer{
  background-color: var(--backgroundColor);
  z-index: 100;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em  3em;
  bottom: 0px;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

.footer a{
  opacity: 0;
  display: flex;
  color: #424242;
  text-decoration: none;
  font-size: 1.3rem;
  margin: .5rem;
  user-select: none;
}

.footer_boxed{
  z-index: 100;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5em  3em;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

.footer_boxed a{
  display: flex;
  color: #424242;
  text-decoration: none;
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #d4d4d4d8;
  padding: .5rem;
  border-radius: 15px;
}

.footer_boxed img{
  opacity: .6;
}

/* responsive media setting */

@media only screen and (max-width: 1600px) {
  .navbar {
    font-size: calc(var(--menuFontsize) - 2px);
  }
  .navbar_noTransition {
    font-size: calc(var(--menuFontsize) - 2px);
  }
  .logo {
    font-size: calc(var(--logoFontsize) - 4px);
  }

  .index .container:nth-child(1) .img_hover{
    position: absolute;
    top: -150px;
    left: 200px;
    z-index: -1;
    /* display: none; */
  }

  .index .container:nth-child(2) .img_hover{
    position: absolute;
    top: -150px;
    left: -500px;
    /* display: none; */
  }


} 

@media only screen and (max-width: 1200px) {
  .navbar {
    font-size: calc(var(--menuFontsize) - 4px)
  }
  .navbar_noTransition {
    font-size: calc(var(--menuFontsize) - 4px);
  }

  .logo {
    font-size: calc(var(--logoFontsize) - 12px);
  }

  .index .container:nth-child(2) .img_hover{
    position: absolute;
    top: -150px;
    left: -350px;
    /* display: none; */
  }

  .about {
    gap: 18px;
  }


  
}

@media only screen and (max-width: 900px) {
  .navbar {
    font-size: calc(var(--menuFontsize) - 6px)
  }
  .navbar_noTransition {
    font-size: calc(var(--menuFontsize) - 6px);
  }

  .logo {
    font-size: calc(var(--logoFontsize) - 16px);
  }

  .about {
    gap: 18px;
  }

  .index .container:nth-child(2) .img_hover{
    position: absolute;
    top: -150px;
    left: -310px;
    /* display: none; */
  }

  

}


@media only screen and (max-width: 790px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: auto;
  }

  .cursor {
    display: none;
  }

  .menu {
    display: none;
  }

  body a{
    cursor: pointer;
  }

  .gallery .img_container img{
    cursor: pointer;
  }

  .device_menu_toggle_on{
    display: flex;
  }

  .sub_menu{
    position: absolute;
    padding:  0 2rem;
  }
  
  .about .img_container {
    height: 50vh;
  }

  .index .container:nth-child(2) .img_hover{
    position: absolute;
    top: -150px;
    left: -270px;
    /* display: none; */
  }

  .about {
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    padding-top: 15%;
    padding-bottom: 15%;
    
  }

  .footer img:hover{
    cursor: pointer;
  }

  .click_next:hover{
    cursor: pointer;
  }
  
}

@media (width <=710px) {
  .photography_img_container {
    width: 100%;
    height: auto;
    padding: 4.5rem;
    max-width: 650px;
  }

  .click_next {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }
}

@media (width <=600px) {
  .photography_img_container {
    width: 100%;
    height: auto;
    padding: 4rem;
    /* max-width: 450px; */
  }
}

@media (width <=550px) {
  .photography_img_container {
    width: 100%;
    height: auto;
    padding: 2rem;
    /* max-width: 450px; */
  }
}



@media only screen and (max-width: 710px) {

  .navbar {
    padding: .3rem .5rem;
  }

  .sub_menu{
    position: absolute;
    padding:  0 1rem;
  }

  .logo {
    font-size: calc(var(--logoFontsize) - 18px);
  }

  .grid_layout{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
  }
  
  

  .about .description {
    width: 370px;
  }


  .index .img_container:hover > .img_hover{
    display: none;
  }

  .index a {
    font-size: 1.5rem;
  }


  #album_background {
    height: auto;
  }
  .gallery {
    justify-content: start;
    padding: 5rem 1rem;
    height: auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .gallery .item {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .gallery .item .img_container {
    width: 100%;
    height: auto;
    max-height: 1000px;
  }

  #poster_background {
    height: auto;
  }

  #illustration_background {
    height: auto;
  }


  #poster_img_container {
    height: auto;
  }
  .gallery .img_container img{
    object-fit: cover;
    height: auto;
    width: 100%;
  }

  .zoom_container p{
    display: none;
  }

  .footer {
    padding: 0rem .5rem;
    justify-content: space-between;
  }
  .footer a{
    font-size: 1rem;
    background-color: #d4d4d4d8;
    padding: .5rem;
    border-radius: 15px;
  }
  .footer a:first-child{
    display: none;
  }

  .footer_boxed {
    padding: 2.5rem 1rem;
  }
  .footer_boxed a{
    font-size: 1.3rem;
    background-color: #d4d4d4d8;
    padding: .5rem;
    border-radius: 15px;
  }
  .footer_boxed a:first-child{
    display: none;
  }

  .index .img_hover img{
    display: none;
  }

}
